body {
    background: #DDDDDD;
    font-style: Arial, Helvetica, sans-serif;
}
.body1
{
    border: solid 1px rgb(0, 0, 0); 
    height:auto;
    background: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}
header{
    text-align: center;  
}
header img{
    width: 45%;
    margin-top: 2vh;
    }
header h1{
  font-size: 40px;
  font-weight: bold;
}
.hr1{
    background-color: #8B0000;
    height: 3px;
    margin-left: 10%;
    margin-right: 10%;
}
.span1 {
    background: #000000;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding-left: 0.5%;
    padding-top: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
}
   
main {
    background: #d0c6c6;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    padding-left: 3vh;
    padding-right: 3vh;
    text-align: center;  
}
.Kaamelott {
    font-weight: bold;
}
main h2{
    font-size: 25px;
    font-weight: bold;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
main img{
    width: 15%;
}
    
.info{
    padding-top: 2vh;
    text-align: left;
}
.info2{
    padding-top: 2vh;
}
.hr2{
    height: 3px;
    z-index:1 ;
    background-color: #000000;
    

    }
    main h3    {
        color: #8B0000;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        padding-top: 1vh;
        padding-bottom:2vh ;
      }   
    
        
.synopsis {
    text-align: left;
    padding-bottom: 2vh;
}


footer {
    
    background: #d0c6c6;
    margin-bottom: 1%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1%;
    height: 5vh;
    text-align: center;
    padding-top: 1.7vh;
    
}

